@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px black;
  }
  .mask-image {
    mask-image: linear-gradient(
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 0.3),
      rgb(0 0 0 / 0)
    )
  }
  .shadow-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  }
}