@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px black;
  }
  .mask-image {
    mask-image: linear-gradient(
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 1),
      rgb(0 0 0 / 0.3),
      rgb(0 0 0 / 0)
    )
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
}

@media screen and (max-width: 320px) {
  #__next {
    display: flex
  }
}